* {
    box-sizing: border-box;
}

body {
    background-color: red;
    margin: 0;
    padding: 20px 0;
}

/*green container*/
main {
    background: green;
    width: calc(100vw - 80px);
    height: calc(100vh - 40px);
    margin: 0 auto;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5px;
}

/*To stratch our main for all the blue items to fit in*/
.wrap {
    width: 1500px;
    position: relative;
    height: 100%;
}

/*Blue containers*/
.blue {
    height: 100vh;
    width: 300px;
    background: blue;
    float: left;
    white-space: nowrap;
    position: relative;
    clear: bottom;
    overflow-y: auto;
}

/*Yellow box properties*/
.yellow-child {
    width: 100%;
    min-width: 50px;
    min-height: 50px;
    margin: 10px 10px;
    background: yellow;
}

/*Specific yellow boxes lay-outs*/
.height-150 {
    height: 150px;
}

.height-100 {
    height: 100px;
}

.height-400 {
    height: 400px;
}